.row
  .col.md-12
    .carousel#dashboard-carousel.slide.backgrounds-carousel{ data: { ride: 'slide' }}
      .carousel-inner
        - (1..3).each do |i|
          .carousel-item{ class: "#{i == 1 ? 'active' : ''}" }
            .d-block.background-slide{ class: "background-slide-#{i}" }
              .carousel-caption.d-none.d-md-block
  %a.carousel-control-prev{ href: '#dashboard-carousel', role: 'button', data: { slide: 'prev' }}
    %span.carousel-control-prev-icon{ 'aria-hidden' => 'true'}
    %span.sr-only Previous
  %a.carousel-control-next{ href: '#dashboard-carousel', role: 'button', data: { slide: 'next' }}
    %span.carousel-control-next-icon{ 'aria-hidden' => 'true'}
    %span.sr-only Next
    