%footer.footer
  .container
    .about.pull-left
      = link_to 'About', root_path
    %ul#footer_nav.pull-right
      = link_to "https://github.com/netguru-code-college/vol4-alpaca" do
        %span.accent.fa.fa-github{"aria-label" => "github"}
    %ul#footer_nav-center

