- if @alpaca.current_owner.include?(current_user.id) && @alpaca.for_sale
  = link_to 'Cancel the sale', @alpaca.toggle(:for_sale), method: :put, class: 'btn btn-secondary btn-lg'
- elsif @alpaca.for_sale
  = link_to 'Buy Alpaca', change_owner_ownership_path, method: :put, class: 'btn btn-success btn-lg'
