.row
  .col-12
    %h1 #{@alpaca.name}
  .col-4
    %img.img-thumbnail{:alt => "Avatar", :src => "#{@alpaca.picture_url}"}
  .col-8
    %p 
    %p Favorite quote: #{@alpaca.quote}
    %p
    %p
    %p
