
.jumbotron
  %h1.display-4 Three things about alpacas you always wanted to know but was afraid to ask.
  %h4 Alpacas! They’re fluffy, they’re good-natured, their hair can make super-soft sweaters and they’re really cute. But alpacas are more than just a furry face.
  %hr.my-4/
  
  %ol
    %li
      %h6 They’re historical
      %p Alpacas were raised by the Incas in South America over 6000 years ago. Kept in herds, Alpacas made their dainty way among the mountains of Peru, Chile and Bolivia, where clothing made from their hair was reserved for Incan royalty.
    %li
      %h6 They come in 2 types
      %p Alpacas come in all sorts of colours, but there are actually only two types of breeds. The difference is in the hair. The Huacaya alpacas have a really fluffy fleece that gives them the appearance of teddy bears, while the Suri type have long locks of hair that grow straight down. Most alpacas that you see in Canada are Huacayas.
    %li
      %h6 Super-hair
      %p Alpacas get shaved for their hair, just like sheep. And just like sheep, all sorts of things can be made from their wool, like sweaters and hats and scarves and blankets. Unlike sheep’s wool, alpaca hair is hypoallergenic, which means people won’t get allergies from it and sneeze and itch. Even better, alpaca wool is flame-resistant and water-resistant. Which means you can have a lot of adventures in your alpaca sweater – that, and it’s easy to clean.
 
