.card-deck

  .card
    = link_to "#" do
      %img.card-img-top{:alt => "Alpacas", :src => "https://static1.squarespace.com/static/58a9a29f2e69cf0bf2bb9395/t/5a2c21d2f9619a9e280b379d/1512841687721/alpaca.jpg?format=750w"}/
      .card-body
        %h5.card-title My Alpacas
        %p.card-text All your Alpacas in one place

  .card
    = link_to "#" do
      %img.card-img-top{:alt => "Events", :src => "https://www.openherd.com/userPhotos/Large/2012_634614480374350000.jpg"}/
      .card-body
        %h5.card-title Events
        %p.card-text Compete with other Alpacas, get eternal glory!
