.card-deck
  .row
    .card
      = link_to alpacas_path do
        %img.card-img-top{:alt => "Alpacas", :src => "https://static1.squarespace.com/static/58a9a29f2e69cf0bf2bb9395/t/5a2c21d2f9619a9e280b379d/1512841687721/alpaca.jpg?format=750w"}/
        .card-body
          %h5.card-title My Alpacas
          %p.card-text All your Alpacas in one place

    .card
      = link_to "#" do
        %img.card-img-top{:alt => "Events", :src => "https://www.openherd.com/userPhotos/Large/2012_634614480374350000.jpg"}/
        .card-body
          %h5.card-title Events
          %p.card-text Compete with other Alpacas, get eternal glory!

    .card
      = link_to user_path(current_user) do
        %img.card-img-top{:alt => "Profile", :src => "https://static3.therichestimages.com/wordpress/wp-content/uploads/2017/11/Redneck-Olympic-Torch.jpg"}/
        .card-body
          %h5.card-title My profile
          %p.card-text Take a look at your profile, or edit it

    .card
      = link_to market_place_path do
        %img.card-img-top{:alt => "Market", :src => "https://www.travelcake.net/wp-content/uploads/2016/06/ANIMAL1.jpg"}/
        .card-body
          %h5.card-title Alpaca Market
          %p.card-text Trade Alpacas with other players
