.jumbotron
  %h1.display-4 Welcome in our fabulous Alpaca World!
  %p.lead In this amazing browser game, you can keep your own Alpacas, train them, and competit with other players in sport events for alpacas.
  %hr.my-4/
  %p Click one of buttons below.
  %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Show me my Alpacas
  %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Competit with others
  %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
