.card-deck
  - @events.each do |event|
    .col-3
      .card
        = link_to event_path(event) do
          .card-body
            %h5.card-title="#{event.name}"
            %p.card-text="#{event.description}"
            = link_to 'Challenge another Alpaca!', event, method: :get, class: 'btn btn-info btn-sm'
