%h1 My Events
= render partial: 'listing', collection: @current_user_events
%h1 Available events
- unless @events.empty?
  = render partial: 'listing', collection: @events
- else
  %h3 Add some awesome event!

.row
  .col-2.col-centered
    .add-button
      = link_to 'Add event', new_event_path, method: :get, class: 'btn btn-info btn-lg'
