@import "variables";
@import "bootswatch";
@import "navbar";
@import "footer";
@import "events";

.container h1 {
  margin-top: 20px;
}

.alpaca-image {
  height: 40vh;
  width: 40vw;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.image_background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}

.half-screen {
  float: right;
  width: 50%;
}

.form-group-image {
  float: right;
}

.btn_margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.jumbotron {
  margin-top: 20px;
  background-image: url('welcome.jpg');
  background-size: cover;
  p {
    color: $black;
    font-weight: bold;
  }
}

.card {
  margin-top: 20px;
  min-width: 200px;
}

.login-form {
  width: 400px;
  height: 30vh;
  margin: 30px auto;
}

.frame-form {
  width: 70vw;
  margin: 15px auto;
}

.frame-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.form-group {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.login-btn {
  font-size: 15px;
  font-weight: bold;
}

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.simple_form {
    float: none;
    text-align : center;
}
.simple_form .input-box {
    margin-bottom: 10px;
}
.simple_form input {
    margin-bottom: 10px;
    display: inline-block;
}
