
footer.footer {
  background-color: $primary;
  border-top: 1px darkblue;
  bottom: 0;
  max-height: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed !important;
  width: 100%;

  a {
    color: white;
    font-family: $headings-font-family;
  }


}
